<mat-form-field>
    <mat-label>item name</mat-label>
    <input matInput #itemName>
</mat-form-field>
<mat-form-field>
    <mat-label>item type</mat-label>
    <input matInput #itemType>
</mat-form-field>
<mat-form-field>
    <mat-label>item location</mat-label>
    <mat-select #location>
      <mat-option *ngFor="let location of locations" [value]="location">
        {{location.name}}
      </mat-option>
    </mat-select>
</mat-form-field>
<button mat-icon-button aria-label="add item" (click)="onClickAddItem(itemName.value, itemType.value, location.value)">
    <mat-icon>add</mat-icon>
</button>

<div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-conatainer matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let item"> {{item.name}} </td>
    </ng-conatainer>

    <ng-conatainer matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let item"> {{item.type}} </td>
    </ng-conatainer>

    <ng-conatainer matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef> Location </th>
        <td mat-cell *matCellDef="let item"> 
            {{getLocation(item)}}
            <button mat-icon-button aria-label="add item" (click)="openDialog(item)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-conatainer>

    <ng-conatainer matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let item"> 
            <button mat-icon-button aria-label="add item" (click)="onClickDeleteItem(item)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-conatainer>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
</div>